/* Layout */
html, body, h1, div { margin: 0; padding: 0; }
header, footer, section { display: block; margin-top: 0.5em; }
h1 { display: inline; }
#wrapper { margin: 0 auto; width: 80%; }
.gradient { width: 150px; height: 150px; margin: 5px; float: left; }
.advice { padding: 0.3em; }
#tryout, footer { clear: both; }
footer { margin-top: 2em; }
#tryform input { width: 4.5em; }
/* Style */
* { font-family: "Lucida Grande", "Droid Sans", "DejaVu Sans", sans-serif; }
h1 { font-family: Helvetica, sans-serif; }
abbr, .swap { border-bottom: 1px dashed #73d216; }
.swap { cursor: pointer; display: none; }
.advice { font-size: 0.8em; background: black; color: white; opacity: 0.7; }
.gradient { -webkit-box-shadow: rgba(10, 10, 10, 0.3) 2px 2px 2px; -moz-box-shadow: rgba(10, 10, 10, 0.3) 2px 2px 2px; box-shadow: rgba(10, 10, 10, 0.3) 2px 2px 2px; }
#tryform input { border: 1px solid #73d216; }
footer a, footer a:visited { color: #4e9a06; }
footer a:hover, .swap { color: #73d216; }
/* Resizable */
.ui-resizable { position: relative; }
.ui-resizable-handle { position: absolute;font-size: 0.1px;z-index: 99999; display: block; color: black; }
.ui-resizable-disabled .ui-resizable-handle, .ui-resizable-autohide .ui-resizable-handle { display: none; }
.ui-resizable-n { cursor: n-resize; height: 7px; width: 100%; top: -5px; left: 0px; }
.ui-resizable-s { cursor: s-resize; height: 7px; width: 100%; bottom: -5px; left: 0px; }
.ui-resizable-e { cursor: e-resize; width: 7px; right: -5px; top: 0px; height: 100%; }
.ui-resizable-w { cursor: w-resize; width: 7px; left: -5px; top: 0px; height: 100%; }
.ui-resizable-se { cursor: se-resize; width: 12px; height: 12px; right: 1px; bottom: 1px; }
.ui-resizable-sw { cursor: sw-resize; width: 9px; height: 9px; left: -5px; bottom: -5px; }
.ui-resizable-nw { cursor: nw-resize; width: 9px; height: 9px; left: -5px; top: -5px; }
.ui-resizable-ne { cursor: ne-resize; width: 9px; height: 9px; right: -5px; top: -5px;}
.ui-icon { display: block; text-indent: -99999px; overflow: hidden; background-repeat: no-repeat; }